@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background:#f1f1f127;
  }
  
  ::-webkit-scrollbar-thumb {
    background:#0300002a;
  }
  

  .leaflet.bottom,
  .leaflet-control,
  .leaflet-pane,
  .leaflet-top {
    z-index: 0 !important;
  }